<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  <script src="socket.io/socket.io.js"></script>
  <script src="js/controller.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

  <style>
    ul
    {
      list-style-type: none;
    }
    .panel-heading .accordion-toggle:after {
      /* symbol for "opening" panels */
      font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
      content: "\e114";    /* adjust as needed, taken from bootstrap.css */
      float: right;        /* adjust as needed */
      color: grey;         /* adjust as needed */
    }
    .panel-heading .accordion-toggle.collapsed:after {
      /* symbol for "collapsed" panels */
      content: "\e080";    /* adjust as needed, taken from bootstrap.css */
    }
  </style>
</head>
<body>




  <div ng-app>
    <div class="container">
      <h2>Records</h2>
      <div ng-controller="Ctrl">
        <div>{{persons.length}} Records</div>
        <br>
        <ul class="unstyled">
          <li ng-repeat="person in persons">

            <div class="panel panel-default" style="padding:20px;">
              <div>
                <h3 class="{{person.firstName}}">Name: {{person.firstName}} {{person.lastName}}</h3>
                <h5 class="{{person.hcin}}">Healthcard Number: {{person.hcin}}</h5>
                <h5 class="{{person.hcin}}">Birthdate: {{person.birthdate}}</h5>
                <h5 class="{{person.hcin}}">Province: {{person.province}}</h5>
                <h5 class="{{person.hcin}}">Gender: {{person.gender}}</h5>
                <h5 class="{{person.hcin}}">Doctor: {{person.doctor}}</h5>

                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                 
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}">
                          Doses
                        </a>
                      </h4>
                    </div>
                    
                    <div id="collapse{{$index}}" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <div>
                          <ul class="unstyled">
                            <li ng-repeat="dose in person.doses">
                              <div class="panel panel-default" style="padding:20px;">
                                <h5>Name: {{dose.name}}</h5>
                                <h5>Code: {{dose.code}}</h5>
                                <h5>Date Received: {{dose.dateReceived}}</h5>
                                <h5>Comments: {{dose.comments}}</h5>
                              </div>
                              <br>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button ng-click="deletePerson(person)">
                  Delete
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>